<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/styles/style2.css">
  
</head>
<body>

  <!-- Top bar -->
  <div class="top-bar">
    <div class="top-center">
      <img src="logo.png" alt="Logo">
      <span>Quiz-All</span>
    </div>
  </div>

  <!-- Reset Password card -->
  <div class="auth-card">
    <form action="/main.ejs">
      <label>Username</label>   
      <input type="username" placeholder="Username" id="username" required>    

      <label>Write your new Password</label>
      <input type="password" placeholder="New password" id="newpassword" required>

      <label>Repeat your new Password</label>
      <input type="password" placeholder="Confirm password" id="newpasswordcheck" required>

      <button id="resetBtn" type="submit">Reset Password</button>
    </form>

    <div class="links">
      <a href="login.ejs">Back to login</a>
    </div>
  </div>
  
</body>
</html>