<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles/style2.css">
  
</head>
<body>

  <!-- Top bar -->
  <div class="top-bar">
    <div class="top-center">
      <img src="logo.png" alt="Logo">
      <span>TAGLINE GOES HERE</span>
    </div>

  </div>

  <!-- Login card -->
  <div class="auth-card">
    <form action="/bob">
    <label>Username</label>
    <input type="username" placeholder="Namn" id="username" required>

    <label>Password</label>
    <input type="password" placeholder="Lösenord" id="loginPassword" required>

    <button id="loginBtn" onclick="">Sign In</button>
    </form>

    <div class="links">
      <a href="#">Forgot password?</a><br>
      <a href="register.ejs">No account? Make a new one.</a>
    </div>
  </div>
<script src="../index.js"></script>
</body>
</html>
