<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../public/styles/style.css">
  </head>

  <body>
    <header>
      <div class="logo-container">
        <picture><img src="Logo.png" alt="Logotyp"></picture>
        <div class="tagline">TAGLINE GOES HERE</div>
      </div>

      <nav class="navbar">
        <a href="#">Menu</a>
        <a href="#">Quiz</a>
        <a href="#">Schedule</a>
        <div class="profile-icon"></div>
      </nav>
    </header>
    <main>
      <h1>For the betterment of your mind</h1>
      <p class="subtitle">Hi</p>
      <button>Start Questions</button>
    </main>
  </body>
</html>