<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body>
    <header>
      <div class="logo-container">
        <picture><img src="logo.png" alt="Logotyp"></picture>
        <div class="tagline">Quiz-All</div>
      </div>

      <nav class="navbar">
        <a href="#">Menu</a>
        <a href="#">Quiz</a>
        <a href="#">Schedule</a>
        <div class="profile-icon"></div>
      </nav>
    </header>
    <main>
      <h1>For the betterment of your mind</h1>
      <p class="subtitle">Challenge what you know. Discover what you don’t.</p>
      <form action="/quiz">
      <button id="startbtn">Start Questions</button>
      </form>
    </main>
  </body>
</html>