<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="page">
        <header class="page-header">
            <a href="main.ejs" class="back-arrow">←</a>
            <h1 id="subject-title">Custom Questions</h1>
        </header>

        <main class="custom-content">
            <div class="left-section">
                <div class="question-box">Question will appear here</div>
                <button class="answer-btn">Answer 1</button>
                <button class="answer-btn">Answer 2</button>
                <button class="answer-btn">Answer 3</button>
                <button class="answer-btn">Answer 4</button>
            </div>

            <div class="right-section">
                <div class="image-box">
                    <span>Image will appear page-header</span>
                </div>
            </div>
        </main>
    </div>
    
    
</body>
</html>