<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/styles/style3.css">
</head>
<body>
    <div class="page">
        <header class="page-header">
            <a href="main.ejs" class="back-arrow">â†</a>
            <h1 id="subject-title"><%= Rubrik %></h1>
        </header>

        <main class="custom-content">
            <div class="left-section">
                <div class="question-box"><%= message %></div>
                <form action="/answered" method="post">
                
                <input type="hidden" name="question" value="<%= message %>">
                <label for="answer">answer</label>
                <input type="text" placeholder="answer:" id="answer" name="answer">
                <button type="submit" class="answer-btn"></button>
                </form>
            </div>

            <div class="right-section">
                <div class="image-box">
                    <span>Image will appear page-header</span>
                </div>
            </div>
        </main>
    </div>
</body>
</html>