<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correct Answer</title>
    <link rel="stylesheet" href="/styles/style4.css">
</head>
<body>
    <div class="page is-correct">
        <header class="page-header">
            <h1>Correct Answer</h1>
            <a href="#" class="next-btn">Next →</a>
        </header>

        <main class="content custom-content">
            <div class="left-section">
                <img src="happy-emoji.png" alt="Correct Answer Emoji">
            </div>

            <div class="right-section">
                <span></span>
            </div>
        </main>
    </div>
    
</body>
</html>